* {
  font-family: var(--font-sans);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  caret-color: var(--primary);
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar);
  border-radius: 3px;
}

::-webkit-scrollbar-button {
  display: none;
}

body {
  background-color: var(--background-elevated);
  width: 350px;
  overflow: auto;
  overscroll-behavior: none;
  padding: 4px 0;
  transition: opacity 0.4s;
}

.hidden {
  opacity: 0;
}

.item.selected {
  background: var(--neutral-tertiary);
}

.list {
  padding: 4px 0;
  list-style: none;
  border-bottom: 1px solid var(--separator);
}

.list:last-child {
  border: none;
}

#notesList li,
#actionList li {
  padding: 0px 16px 0px 48px;
}

#searchList li {
  padding: 0px 16px 0px 0;
}

.item {
  color: var(--neutral-primary);
  background: var(--background-elevated);
  height: auto;
  user-select: none;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 32px;
  width: 100%;
  font-size: 13px;
}

.accelerator {
  color: var(--neutral-secondary);
  margin-left: 16px;
  pointer-events: none;
}

.item .title,
.label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  pointer-events: none;
}

.input {
  color: var(--neutral-primary);
  height: 32px;
  width: 100%;
  font-size: 13px;
  appearance: none;
  outline: none;
  background: transparent;
  border: none;
  padding: 0px 0px 0px 48px;
}

.input::placeholder {
  color: var(--neutral-secondary);
}

#notesList li:before {
  content: "";
  background-color: var(--neutral-primary);
  height: 20px;
  width: 20px;
  -webkit-mask-image: url(../images/document.svg);
  mask-image: url(../images/document.svg);
  position: absolute;
  left: 16px;
}

#actionList li:before {
  content: "";
  background-color: var(--neutral-primary);
  height: 20px;
  width: 20px;
  -webkit-mask-image: url(../images/add.svg);
  mask-image: url(../images/add.svg);
  position: absolute;
  left: 16px;
}

#searchList li:before {
  content: "";
  background-color: var(--neutral-secondary);
  height: 20px;
  width: 20px;
  -webkit-mask-image: url(../images/search.svg);
  mask-image: url(../images/search.svg);
  position: absolute;
  left: 16px;
}

#notesList:empty {
  padding: 0;
  display: none;
  visibility: hidden;
}

.list:empty {
  display: none;
}

.list:has(+ .list:empty) {
  border: 0;
}