:root {
  color-scheme: light;
  --font-sans: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", Arial, sans-serif;
  --font-mono: "SF Mono", SFMono-Regular, ui-monospace, Menlo, Monaco,
    "Cascadia Mono", "Segoe UI Mono", "Roboto Mono", "Oxygen Mono",
    "Ubuntu Monospace", "Source Code Pro", "Fira Mono", "Droid Sans Mono",
    "Courier New", monospace;
  --primary: #005CBB;
  --on-primary: #ffffff;
  --primary-container: #D7E3FF;
  --on-primary-container: #001B3F;
  --secondary: #565E71;
  --primary-fixed-dim: #ABC7FF;
  --on-secondary: #ffffff;
  --secondary-container: #DAE2F9;
  --on-secondary-container: #131C2B;
  --surface: #FAF9FD;
  --surface-container-highest: #E3E2E6;
  --on-surface: #1A1B1F;
  --on-surface-variant: #44474E;
  --outline: #74777F;
  --neutral-primary: #0D0E11; /* Neutral 4 */
  --neutral-secondary: #77777A; /* Neutral 50 */
  --neutral-tertiary: #C7C6CA; /* Neutral 80 */
  --neutral-quaternary: #EFEDF1; /* Neutral 94 */
  --separator: rgba(0, 0, 0, 0.07);
  --background: #ffffff;
  --background-elevated: #ffffff;
  --selection: #D7E3FF;
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    --primary: #ABC7FF;
    --on-primary: #002F65;
    --primary-container: #00458F;
    --on-primary-container: #D7E3FF;
    --secondary: #BEC6DC;
    --primary-fixed-dim: #ABC7FF;
    --on-secondary: #283041;
    --secondary-container: #3E4759;
    --on-secondary-container: #DAE2F9;
    --surface: #38393C; /* Surface bright */
    --surface-container-highest: #343538;
    --on-surface: #C7C6CA;
    --on-surface-variant: #C4C6D0;
    --outline: #8E9099;
    --neutral-primary: #EFEDF1; /* Neutral 94 */
    --neutral-secondary: #ABABAF; /* Neutral 70 */
    --neutral-tertiary: #5E5E62; /* Neutral 40 */
    --neutral-quaternary: #46464A; /* Neutral 30 */
    --separator: rgba(255, 255, 255, 0.1);
    --background: #202124;
    --background-elevated: #292A2D;
    --selection: #323D50;
  }
}